/* Styles des divisions principales de la page */
html { 
  margin:0;
  padding:0;
  background-image: url("../images/fond-gsb.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#raisonRefus{
	color:red;
	font-weight:normal;
}

#erreurSaisi{
	color:red;
}

#erreurSaisiHF{
	color:red;
}

#identifiant{
	color:black;
}

#tableForfait {
	text-align:right;
}

/*Visiteur ou comptable*/
.typeVisiteur{
	font-weight: bold;
	font-size: 20px;
}

.bouton {
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#2676ad;
	color:#ffffff;
	border-radius:3px;
	width:100px;
	border:none;
}

.bouton:hover {
	color:white;
	background:#2e9eea;
}

body{
  margin:0% 0%;
  padding : 0.6em;
  font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
  font-size:0.8em;
}
#page {
  background-color:white;
  width : 65%;
  margin : auto ;
  border : 0.2em solid black;
  padding : 0.1em;
}
#entete{
  background-color:#2676ad;
	color : #980101;
	border: solid 0.1em #980101;
	height: 154px;
	padding: 0em;
	border-collapse: separate;
}
#pied{
  clear : both;
	border : solid 0.2em #980101;
	margin-left : 18%;
	margin-top : 1em;
	padding:0.4em;
	padding: 0.2em;
	border-collapse: separate;
}
#menuGauche {
	margin-top : 0.8em;
	padding: 1em;
	color: #2676ad;
	float: left;
	width: 15.2%;
}

#contenu{
	border: none;
	padding: 1.3em;
	background-color: white;
	border-left :  groove 0.8em #980101;
  margin-top : 1.2em;
	margin-left: 18%;
/* permet de fixer une hauteur mini sur les navigateurs modernes */
  min-height:27em;
/* pour obtenir le même effet sur IE, sachant que si le contenu dépasse, il
"poussera" la hauteur en ne respectant pas la norme. On se joue de ses lacunes
*/
  height:27em;
}

#notify {
	color:green;
	font-weight:bold;
}

/* pour rétablir le mauvais effet sur les nav. modernes */
html>body #contenu{
  height:auto;
}

/* style à appliquer à la balise ul d'identifiant menulist */
ul#menuList{
    list-style:none;
    margin:0px;
    padding:0px;
    width:98%;
    font-size: 1em;
}

/* style à appliquer aux éléments de la balise ul d'identifiant menulist */
ul#menuList li {
    position:relative;
    margin:0px;
    padding:0px;
}

/* apparences des liens dans listes et sous-listes non numérotées */
ul#menuList a {
	font-size:14px;
    color:#2676ad;
    display:block;
    text-decoration:none;
    width:100%;
}
ul#menuList a:hover {
    /*background: #2e9eea;*/
    color: black;
}

#entete #logoGSB {
  float : left;
  width : 238px;
  height : 152px;
}

#entete h1 {
  margin : 1em;
  color:white;
  margin-left:6em;
  font-size : x-large;
  text-align:center;
}

#contenu pre {
  width:95%;
  overflow : scroll;
}
#contenu h2 {
  font-size : large;
  text-align:left;
  margin:0;
  margin-bottom:0.5em;
}

.logoValidW3c {
  display: inline;
}
#libValidW3c{
  display : inline;
  vertical-align:middle;
}

/* Style des formulaires 
border : solid 0.1em #000;border-bottom-width:1px;*/
.corpsForm {
  margin-bottom : 0em;
  width : 95%;
}
.piedForm {
  /*border-bottom-width : 0.1em;
  border-left-width : 0.1em;
  border-right-width : 0.1em;
  border-top-width : 0em;
  border-style : solid;
  border-color : #000;*/
  width : 95%;
  text-align:right ;
  margin-top:0em;
}
form {
  margin-bottom:1em;  
}
legend {
  font-weight:bold;
  font-size:1.2em;
}

.corpsForm label{
  float: left;
  text-align:left;
  width:29%;
	margin: 0;
	padding: 0 .5em 0 0;
	line-height: 1.8;	
}
input, button, textarea, select{
  font-family:"Trebuchet MS", sans-serif;
  font-size : 1em;
}
button{
  width : 60px;
  height : 30px;
  text-align:center;
  vertical-align:middle;
}
input:hover, textarea:hover, select:hover{
  background-color : #FAFAE6;
  cursor : pointer;
}

/*  Le texte des messages d'erreur est de couleur rose sur fond ocre et de 
taille de caractères légèrement supérieure à la normale */
.erreur{ 
   background-color:rgb(237,210,229);
   color:rgb(203,28,128);
   font-size:1.1em;
   /*width:95%;*/
}
.centre {
  text-align:center;
}

.info {
   background-color:rgb(178,207,81);
   color : white;
   font-size:1.1em;
   width : 95%  
}

.encadre {
  border : solid 0.1em #000;
  width : 95%;
}
/* Style pour les liens de la page principale */
#contenu .corpsTexte {
  width:80%;
  font-size:1.2em;
}

/* Style pour les liens de la page principale */
#contenu a {
   font-size : 1.1em;
   color:#2676ad;
   text-decoration:none;
}
#contenu a:hover {
   /*text-decoration:underline;*/
   color:black;
   /*background:#2e9eea;*/
   /*font-size : 1em;*/
}

/* Style pour les parties importantes de la page principale */
#contenu strong {
  font-weight:bold;
}

/* Styles pour les tableaux de la page principale */
#contenu table {
   background-color:#FFF;
   border : 0.1em solid #777777;
   color:black;
   margin-right : auto ;
   margin-left:0;
   border-collapse : collapse;
}

/* Style pour les lignes d'en-tête des tableaux */
#contenu th {  
   background-color:#2676ad;
   height:21px;
   text-align:center;
   vertical-align:top;
   font-weight:bold;
   border:0.1em solid #777777;
   font-size:1.1em;
} 

#contenu td {
   border :1px solid #777777;
}

#contenu h3 {
    font-size : 1.2em;
}

/* Tableaux quadrillés utilisés pour l'affichage de listes avec contenu léger*/ 
table.listeLegere {
    width:100%;
    margin-bottom : 0.5em;
}

table.listeLegere caption {
  font-size : 1.1em;
  text-align : left;
  margin-bottom : 0.3em;
}

table.listeLegere th {
  padding:0.3em;
  color:black;  
}

/*    border : dotted rgb(178,207,81) 0.1em;
  text-align : center;
  padding:0.5em;
  text-align : left;
  vertical-align:top;
  */
table.listeLegere td {
  padding:0.2em;
}
table.listeLegere td.date, table.listeLegere td.action{
  text-align : center;
  color:black;
  font-weight:normal;
}
table.listeLegere td.libelle{
  text-align : left;
  color:black;
  font-weight:normal;
}

table.listeLegere td.montant{
  text-align : right;
  color:black;
  font-weight:normal;
}

table.listeLegere th.eltForfait{
  color:black;
}

#contenu h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	border : 1px solid #6988BE;
	padding-left: 25px;
	padding-top:8px;
	background-color: #2676ad;
	height : 24px;
}

#contenu img {
  height : 28px;
  float : left;
}
